<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>colombian_time_convertor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D582452F2E1B23CA00A041BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D582453F2E1B23CC00A041BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58245492E1B23CC00A041BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
